/*
Author: Tibault Gribaumont
Version: 1.0
Last update: 11th July 2018
*/


/*
Table of Contents

1.0 Reset
2.0 Elements
    2.1 General
3.0 Header
    3.1 General
4.0 Content
    4.1 Index
5.0 Footer
*/


/*

*  1.0 Reset

*  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/*

*  2.0 Elements

*/


/* 2.1 General */

html {
    font-family: 'Ubuntu';
    font-weight: 400;
}

body {
    background-color: #f2f9ff;
    color: #042240;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0;
}

.clearfix {
    clear: both;
}


/*

*  3.0 Header

*/


/* 3.1 General */


/*

*  4.0 Content

*/


/* 4.1 General */


/*

*  5.0 Footer

*/